<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assessment Ágil DBSERVER</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:inline="javascript">
        /*<![CDATA[*/


        /*]]>*/









    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>


<br>
<h2 align="center">Assessment Ágil - Plataforma DBSERVER.</DBSERVER></h2>
<h3 align="center">Obrigado pelo preenchimento.</h3>
<br>

</body>
</html>