<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assessment Ágil DBSERVER</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:inline="javascript">
        /*<![CDATA[*/

            function selectRadio() {

                var checked = document.getElementById("checked").value;
                if (checked !== undefined) {
                    document.getElementById(checked).checked = true;
                }

            }


        /*]]>*/











    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body onload="selectRadio();">

<br>
<h2 align="center">Assessment Ágil - Plataforma DBSERVER.</DBSERVER></h2>
<h3 align="center">Preencha o formulário informando quais as práticas são de uso no seu time.</h3>
<br>
<form action="#" th:action="@{/formulario}" method="post">

    <div class="form-group">

        <p>&nbspTime:
            <input type="text" maxlength="40" th:field="${formulario.time}" class="form-control"
                   required="required" style="width:30% !important;margin-left:10px !important"
                   th:readonly="${null != formulario.id}"></p>
        <br>
        <p>&nbspSprint:
            <input type="number" required="required" th:field="${formulario.sprint}" class="form-control" min="1"
                   style="width:5% !important;margin-left:10px !important" th:readonly="${null != formulario.id}"></p>

        <hr class="style2">
        <div class="panel panel-default">
            <br>

            <font size="5">
                <label class="label label-primary" th:text="${formulario.pergunta.nome}"
                       style="margin-left:10px !important"></label>
            </font>
            <br>
            <br>

            <input type="hidden" th:field="${formulario.pergunta}">
            <input type="hidden" th:field="${formulario.id}">
            <input type="hidden" th:value="${checked}" id="checked">


            <ul>
                <li th:each="resposta : ${respostas}" class="list-group">
                    <div class="radio">
                        <input type="radio" th:field="*{formulario.resposta}" th:value="${resposta.id}"
                               th:id="'resposta' + ${resposta.id}" required="required"
                               th:checked="${resposta.checked}"/>
                        <label th:for="'resposta' + ${resposta.id} "
                               th:text="${resposta.nome}"/>

                    </div>

                </li>
            </ul>
        </div>

        <br>


        <button type="submit" class="btn btn-success" style="margin-left:10px !important">Responder</button>
        <div th:if="${null !=  formulario.id && formulario.pergunta.id > 1}" style="display:inline;">
            <a class="btn btn-warning"
               th:href="@{'/?pergunta=' + ${formulario.pergunta.id - 1} + '&formulario=' + ${formulario.id}}">Voltar</a>

        </div>

</form>
</body>
</html>