<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assessment Ágil DBSERVER</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:inline="javascript">
        /*<![CDATA[*/


        /*]]>*/







    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>

<br>
<h1>Assessment Ágil - Plataforma DBSERVER</DBSERVER></h1>
<h3>Preencha o formulário informando quais itens são de uso de seu time.</h3>
<br>
<form action="#" th:action="@{/salvarFormulario}" method="post">

    <div class="form-group">

        <p>Time:
            <input type="text" maxlength="40" th:field="${formulario.time}" class="form-control"
                   required="required" style="width:30% !important;margin-left:10px !important"></p>
        <br>
        <p>Sprint:
            <input type="number" required="required" th:field="${formulario.sprint}" class="form-control"
                   style="width:30% !important;margin-left:10px !important"></p>

        <font size="5">
            <label class="label label-default" th:text="${formulario.pergunta.nome}">></label>
        </font>
        <br>
        <br>

        <input type="hidden"  th:field="${formulario.pergunta}">
        <input type="hidden"  th:field="${formulario.id}">



        <ul>
            <li th:each="resposta : ${respostas}">
                <input type="radio" th:field="*{formulario.resposta}" th:value="${resposta.id}"
                       th:id="'resposta' + ${resposta.id}" required="required"/>
                <label th:for="'resposta' + ${resposta.id}" th:text="${resposta.nome}"/>

            </li>
        </ul>
        <button type="submit" class="btn btn-success">Responder</button>
    </div>

</form>
</body>
</html>